.form-error {
  color: #cc1818;
}

.form-error input {
  border-color: #cc1818 !important;
}

.error-text {
  display: none;
  font-size: 13px;
}

.form-error .error-text {
  display: block;
  margin-top: -5px;
  margin-bottom: 10px;
}

.mt {
  margin-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.mb {
  margin-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.mr {
  margin-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.ml {
  margin-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.edit-radio-option-wrapper {
  position: relative;
}

.edit-radio-option-wrapper .remove-option-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 20px;
}

.edit-radio-option-wrapper.form-error .remove-option-btn {
  bottom: 20px;
}

.flex {
  display: flex;
}

.flex-row .components-flex {
  flex-direction: row;
}

.flex-row label {
  margin-top: 8px;
}

.warning-sign {
  text-decoration: none !important;
  margin-left: 10px !important;
  color: #f98e1d !important;
  position: absolute;
}

.components-base-control__help {
  margin-top: -5px !important;
}